{% extends 'base.html' %}
{% block extra-head-resources %}
<script type="text/javascript" src="/static/js/id_numb.js" xmlns="http://www.w3.org/1999/html"></script>
{% endblock %}
{% block body %}

<table class="table table-bordered;table table-hover" style="margin-top: 10px">
    <thead>
    <thead>
        <tr>
            <th>Id</th>
            <th>Server Ip</th>
            <th>Name</th>
            <th>Status</th>
            <th>Image</th>
            <th>ID</th>
            <th>Time</th>
            <th>Operate</th>
            <th>Log</th>
        </tr>

    </thead>
    <tbody>
        {% for vlaue in containers_status %}
            <tr>
                <td>id</td>
                <td>{{ ip }}</td>
                <td>{{ vlaue.Names.0|slice:"20" }}</td>
                {% if vlaue.State == "running" %}
                <td  style="padding: 1px"><span class="btn btn-success" style="cursor:default;border-radius:50px;width: 75px">{{ vlaue.State }} </span></td>
                <td>{{ vlaue.Image }}</td>
                {% else %}
                    <td>Not running</td>
                    <td>{{ vlaue.Image|slice:"20" }}</td>
                {% endif %}

                <td>{{ vlaue.Id|slice:"10" }}</td>
                <td>{{ vlaue.Status }}</td>
                <td>
                <button onclick="button('{{ ip }}','{{ vlaue.Id }}','start')" >Start</button>
                <button onclick="button('{{ ip }}','{{ vlaue.Id }}','stop')">Stop</button>
                <button onclick="button('{{ ip }}','{{ vlaue.Id }}','restart')">Restart</button>
                <script>
                  var ip =  "{{ ip }}"
                  var id = "{{ vlaue.Id }}"
                  function button (ip,id,docker_status) {
                      $.ajax({
                          url: '/env/start_stop/',
                          type: 'get',
                          data: {"ip": ip, "id": id,"docker_status":docker_status},
                          dataType: 'html',
                          success: function (data) {
                              alert(data)
                              window.location.reload(true)
                          }
                      });
                  }
                </script>
                </td>
                <td><a href="/log/now/?hostname={{ ip }}&container_name={{ vlaue.Id }}" class="btn btn-primary btn-xs build" >info</a>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}